
/*
.artifact *:hover  {
  transform: scale(.8);
  fill: red
}
*/


/* per default from-check has a padding on the left. */
.my-form-check-modification {
  padding-left: 0 !important;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
}

rect.clicked{
  fill: blue !important;
  opacity: .5;
}
rect[class *= "connected"]{
  fill: red !important;
  /* opacity: .3; */
  /* pointer-events: none; */
}

rect.default.connected.clicked{
  fill: yellowgreen !important;
}

rect.foundBySearch{
  fill: black  !important;

}
rect.default{
  fill: white;
} 

rect.cvssScore-selected{
  fill:yellow
}
#tooltip{
  position: absolute;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}


/*
rect.default{
  fill: rgb(255, 255, 255);
  opacity: 0.85
}
*/


.brushed{
  /* fill: green !important; */
  opacity: 1;
  stroke-width: 3
  
}

