
/*
.artifact *:hover  {
  transform: scale(.8);
  fill: red
}
*/

div .filterSection {
  display:block;
}
/* per default from-check has a padding on the left. */
.my-form-check-modification {
  padding-left: 0 !important;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  background-color:#1c87c9;
}

/* rect.clicked{
  fill: blue !important;
  opacity: .5;
} */
rect[class *= "connected"]{
  /* stroke: rgb(89, 156, 70) !important; */
  fill-opacity: 1.0 !important;
  stroke-opacity: 1.0 !important;
  /* stroke-width: 2; */
}

rect.default.connected.clicked{
  fill: yellowgreen !important;
}

rect.default.connected.intersection{
  fill: blue !important;
}
rect.foundBySearch{
  fill: black  !important;

}
rect.default.clicked{
  stroke: rgb(89, 156, 70) !important;
  stroke-width: 2;
} 

rect.cvssScore-selected{
  /* fill:yellow */
}
#tooltip{
  position: absolute;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
}


.btn{
 fill-opacity: 0.5;
}

rect {
  stroke-width: 1px;
  stroke-opacity: 1px;
}
/*
rect.default{
  fill: rgb(255, 255, 255);
  opacity: 0.85
}
*/


.brushed{
  /* fill: green !important; */
  opacity: 1;
  stroke-width: 3
  
}

.label{
  font-size: 10px !important; 
  fill:  gray;
  color: gray  !important ;
  margin-bottom: 0 !important
}
p.label{
  -webkit-text-fill-color: gray;
  font-size: 10px; 
  margin-bottom: 0
}
/* label{
  font-size: 10px; 
  color: gray;
  margin-bottom: 0 !important
} */

.form-check-inline .form-check-input {
  margin-left: 15px !important;
}
.btn{ 
  /* prevents .active buttons to overlap the tooltip */
  z-index: auto !important;
}