{% extends "public/templates/public_template.html" %} {% block title %}Basic Visualizations{% endblock %} {% block main %}
<div id="viscontainer" class="container-fluid">
    <div id="above-vis">

        <div class="row">
            <div class="col-md-12">

                <!-- <h1>Basic Visualizations</h1> -->
                <!-- onclick="display_all_app_ids();" -->
                <!-- <button class="btn btn-primary" id="display-vis">vis</button> -->
                <!-- <hr> -->

            </div>
        </div>
    </div>
    <div class="row">
        <!-- margins are managed by d3. gutter = horizontal padding on columns -->
        <div class="col-md-8">
            <div class="row" id="visRow">

                <!-- apps area -- the col segments are relative to the enclosing div. I tested which col size fits the data best.-->
                <div id="app" class="col-md-5">
                    <div id="app-menu" class="row view-menu no-gutters">
                        <!-- <button class="btn btn-primary" id="test">test</button> -->
                    </div>
                    <div id="app-view" class="row view-menu no-gutters"></div>
                    <div id="app-bottom" class="row view-menu no-gutters"></div>
                </div>

                <!-- lib area -->
                <div id="lib" class="col-md-3">
                    <div id="lib-menu" class="row view-menu no-gutters">
                        <!-- <button class="btn btn-primary">test</button>
                <div class="dropdown show">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        color
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">number of affected applications</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div> -->
                    </div>
                    <div id="lib-view" class="row view-menu no-gutters"></div>
                    <div id="lib-bottom" class="row view-menu no-gutters"></div>
                </div>

                <!-- vul area -->
                <div id="vul" class="col-md-2">
                    <div id="vul-menu" class="row view-menu no-gutters">
                        <!-- <button class="btn btn-primary">test</button> -->
                    </div>
                    <div id="vul-view" class="row view-menu no-gutters"></div>
                    <div id="vul-bottom" class="row view-menu no-gutters"></div>
                </div>
                
                <!-- empty area -->
                <div id="additionalInformation" class="col-md-2">
                    <div id="addition-menu" class="row view-menu no-gutters">
                        <!-- <button class="btn btn-primary">test</button> -->
                    </div>
                    <div id="additional-view" class="row view-menu no-gutters"></div>
                </div>                
                <div id="dependency-container"></div>

            </div>

        </div>
        <div class="col-md-4">
            <div id="filterSection" class="row no-gutters" style="display:block">
            </div>
        </div>
    </div>
</div>

{% endblock main %} {% block script %} {% include "includes/scripts.html" %}

<!-- is it a module?? type='module'-->
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>

<script id="template-dynamic-list" type="text/template">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <!-- here goes th dynamic list -->
    </ul>
</script>

<script id="template-dynamic-list-item" type="text/template">
    <li>
        <div class="checkbox">
            <label>
                <input type="checkbox" id=%id% class='value-checkbox'>  %name%
            </label>
        </div>
    </li>
</script>

<script id="template-radio-btn" type="text/template">
    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="radio-btn-group">
        <label class="btn btn-secondary btn-sm version-toggle active">
          <input type="radio" name="options" id="v2" autocomplete="off" checked> v2 
        </label>
        <label class="btn btn-secondary btn-sm version-toggle">
          <input type="radio" name="options" id="v3" autocomplete="off"> v3 
        </label>
    </div>
</script>

<script id="template-metrics-v2" type="text/template">
    <button class="btn btn-secondary dropdown-toggle select-metric btn-sm" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Select a Metric 
        </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <h6 class="dropdown-header">Exploitability Metrics</h6>
        <button class="dropdown-item metric" type="button" id="av2">Access Vector (AV)</button>
        <button class="dropdown-item metric" type="button" id="ac2">Access Complexity (AC)</button>
        <button class="dropdown-item metric" type="button" id="au2">Authentication (Au) </button>
        <hr class="dropdown-divider">
        <h6 class="dropdown-header">Impact Metrics</h6>
        <button class="dropdown-item metric" type="button" id="c2">Confidentiality (C) </button>
        <button class="dropdown-item metric" type="button" id="i2">Integrity (I)</button>
        <button class="dropdown-item metric" type="button" id="a2">Availability (A)</button>
    </div>
</script>

<script id="template-view-orderings-app" type="text/template">
    <div class="dropdown">
    <button class="btn btn-light dropdown-toggle select-ordering btn-sm btn-block" type="button" id="app-orderings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Orderings 
        </button>
    <div class="dropdown-menu orderings" aria-labelledby="app-orderings">
        <h6 class="dropdown-header">Severity Filters</h6>
        <button class="dropdown-item" type="button" id="app-min_cvssScore-o">Lowest CVSS score</button>
        <button class="dropdown-item" type="button" id="app-max_cvssScore-o">Highest CVSS score</button>
        <button class="dropdown-item" type="button" id="app-avg_severity-o">Average CVSS score</button>
        <hr class="dropdown-divider">
        <h6 class="dropdown-header">Other Metrics</h6>
        <button class="dropdown-item" type="button" id="app-meta_vulas-o">Number of distinct vulnerabilitites</button>
        <button class="dropdown-item" type="button" id="app-meta_vul_libs-o">Number of vulnerable Libraries</button>
        <button class="dropdown-item" type="button" id="app-meta_numb_libs-o">Numb of Libraries</button>
    </div>
</div>
</script>

<script id="template-view-orderings-lib" type="text/template">
    <div class="dropdown">
    <button class="btn btn-light dropdown-toggle select-ordering btn-sm btn-block" type="button" id="app-orderings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Orderings 
        </button>
    <div class="dropdown-menu orderings" aria-labelledby="app-orderings">
        <h6 class="dropdown-header">Severity Filters</h6>
        <button class="dropdown-item" type="button" id="lib-min_cvssScore-o">Lowest CVSS score</button>
        <button class="dropdown-item" type="button" id="lib-max_cvssScore-o">Highest CVSS score</button>
        <button class="dropdown-item" type="button" id="lib-avg_severity-o">Average CVSS score</button>
        <hr class="dropdown-divider">
        <h6 class="dropdown-header">Other Metrics</h6>
        <button class="dropdown-item" type="button" id="lib-meta_vulas-o">Number of distinct vulnerabilitites in each library</button>
        <button class="dropdown-item" type="button" id="lib-meta_affected_apps-o">Number of usages (in applications)</button>
    </div>
</div>
</script>


<script id="template-view-orderings-vul" type="text/template">
    <div class="dropdown">
    <button class="btn btn-light dropdown-toggle select-ordering btn-sm btn-block" type="button" id="app-orderings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Orderings 
        </button>
    <div class="dropdown-menu orderings" aria-labelledby="app-orderings">
        <h6 class="dropdown-header">Severity Filters</h6>
        <button class="dropdown-item" type="button" id="vul-cvssScore-o">CVSS score (non-decreasing)</button>
        <hr class="dropdown-divider">
        <h6 class="dropdown-header">Other Metrics</h6>
        <button class="dropdown-item" type="button" id="vul-cvssVersion-o">CVSS Version</button>
        <button class="dropdown-item" type="button" id="vul-meta_affected_apps-o">Number of affected applications</button>
    </div>
</div>
</script>

<script id="template-view-color-app" type="text/template">
<div class="dropdown">
    <button class="btn btn-light dropdown-toggle select-color btn-sm btn-block" type="button" id="app-color" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Color 
        </button>
    <div class="dropdown-menu color" aria-labelledby="app-color">
        <h6 class="dropdown-header">Severity to Color</h6>
        <button class="dropdown-item" type="button" id="app-min_cvssScore-c">Lowest CVSS score</button>
        <button class="dropdown-item" type="button" id="app-max_cvssScore-c">Highest CVSS score</button>
        <button class="dropdown-item" type="button" id="app-avg_severity-c">Average CVSS score</button>
    </div>
</div>
</script>

<script id="template-view-color-lib" type="text/template">
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle select-color btn-sm btn-block" type="button" id="app-color" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Color 
            </button>
        <div class="dropdown-menu color" aria-labelledby="lib-color">
            <h6 class="dropdown-header">Severity to Color</h6>
            <button class="dropdown-item" type="button" id="lib-min_cvssScore-c">Lowest CVSS score</button>
            <button class="dropdown-item" type="button" id="lib-max_cvssScore-c">Highest CVSS score</button>
            <button class="dropdown-item" type="button" id="lib-avg_severity-c">Average CVSS score</button>
        </div>
    </div>
</script>

<script id="template-view-color-vul" type="text/template">
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle select-color btn-sm btn-block" type="button" id="app-color" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Color 
            </button>
        <div class="dropdown-menu color" aria-labelledby="vul-color">
            <h6 class="dropdown-header">Severity to Color</h6>
            <button class="dropdown-item" type="button" id="vul-cvssScore-c">CVSS score</button>
            <hr class="dropdown-divider">
            <h6 class="dropdown-header">Other Metrics</h6>
            <button class="dropdown-item" type="button" id="vul-meta_affected_apps-o">Affected Libraries</button>
        </div>
    </div>
</script>

<script id="template-metrics-v3" type="text/template">
    <button class="btn btn-secondary dropdown-toggle select-metric btn-sm" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")>
        Select a Metric 
       </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <h6 class="dropdown-header">Exploitability Metrics</h6>
        <button class="dropdown-item metric" type="button" id="av3">Attack Vector (AV)</button>
        <button class="dropdown-item metric" type="button" id="ac3">Attack Complexity (AC)</button>
        <button class="dropdown-item metric" type="button" id="pr3">Privileges Required (PR)</button>
        <button class="dropdown-item metric" type="button" id="ui3">User Interaction (UI) </button>

        <hr class="dropdown-divider">
        <h6 class="dropdown-header">Impact Metrics</h6>
        <button class="dropdown-item metric" type="button" id="c3">Confidentiality (C) </button>
        <button class="dropdown-item metric" type="button" id="i3">Integrity (I)</button>
        <button class="dropdown-item metric" type="button" id="a3">Availability (A)</button>
        <hr class="dropdown-divider">
        <button class="dropdown-item" type="button" id="s3">Scope (S)</button>
    </div>
</script>

<script id="template-metrics-values" type="text/template">
    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-toggle="dropdown">Select Value
            <span class="caret"></span>
        </button>
    <ul class="dropdown-menu addedDropdown">
        <!-- here goes the dynamic list -->
    </ul>

</script>

<script id="template-intersection-toggle" type="text/template">
   <p class="intersect label" > Intersection Highlighting: the selected view highligths all artifacts inside the other views which are contained in all selected artifacts. </p>
    <div class="btn-group btn-group-toggle btn-block " data-toggle="buttons" id="intersection-toggle">
        <label class="btn btn-secondary btn-sm active" id="none-intersection">
          <input type="radio" name="options"  autocomplete="off" checked> None 
        </label>
        <label class="btn btn-secondary btn-sm" id="app-intersection">
          <input type="radio" name="options"  autocomplete="off"> Application
        </label>
        <label class="btn btn-secondary btn-sm" id="lib-intersection">
          <input type="radio" name="options"  autocomplete="off"> Library
        </label>
        <label class="btn btn-secondary btn-sm" id="vul-intersection">
            <input type="radio" name="options"  autocomplete="off"> Vulnerability
          </label>
        
      </div>

<!-- 
    <button class="btn btn-secondary dropdown-toggle" type="button" id="intersectionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" id="intersection-dropdown" aria-labelledby="intersectionDropdown">
        <a class="dropdown-item" id="none-intersection" href="#">None</a> 
        <a class="dropdown-item" id="app-intersection" href="#">Application</a>
        <a class="dropdown-item" id="lib-intersection" href="#">Library</a>
        <a class="dropdown-item" id="vul-intersection" href="#">Vulnerability</a>
      </div>
    </div> -->
</script>


<script id="template-spinner" type="text/template">
    <div id='mySpinner' class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</script>
{% endblock script %}